<div class="product-card">
    <img class="product-img" src="{{ block.product.selected_or_first_available_variant.featured_image | img_url: 'master' }}" alt="product photo">
    <div class="product-card-content">
        <div class="color-variants-container">
            {% for color in block.product.options_by_name['Color'].values %}
                {% assign img_link = '' %}
                {% for variant in block.product.variants %}
                    {% unless variant.featured_image %}
                        {% continue %}
                    {% endunless %}
                    {% if variant.title contains color %}
                        {% assign img_link = variant.featured_image | img_url: 'master' %}
                        {% break %}
                    {% endif %}
                {% endfor %}
                <button
                    type="button"
                    class="color-variant{% if block.product.selected_or_first_available_variant.title contains color %} active{% endif %}"
                    {% if img_link != '' %}data-img-link="{{ img_link }}"{% endif %}
                >
                    <span style="background-color: var(--swatch-color-{{ color | handleize }});"></span>
                </button>
            {% endfor %}
        </div>
        <div class="rate-container">
            <div class="star-flex-container">
                {% for i in (1..5)  %}
                    {% assign star_type = 'full' %}
                    {% if i > block.rate_stars %}
                        {% assign star_type = 'empty' %}
                        {% assign diff = i | minus: block.rate_stars %}
                        {% if diff < 1 %}
                            {% assign star_type = 'half' %}
                        {% endif %}
                    {% endif %}
                    {% render 'icon-star', star_type: star_type %}
                {% endfor %}
            </div>
            <p>{{ block.rate_stars }}</p>
            <p>({{ block.additional_rate_text }})</p>
        </div>
        <h3 class="product-title">{{ block.product.title }}</h3>
        <p class="product-descr">{{ block.product.description }}</p>
        <p class="product-price">
            {{ block.product.price | money }}
            <span class="product-price__compared">{{ block.product.selected_or_first_available_variant.compare_at_price | money_without_currency }}</span>
        </p>
        {% unless block.button_link == blank or block.button_text == blank  %}
            <div class="btn-container">
                <a
                    class="btn-cta"
                    style="background-color: {{ block.button_bg_color }}; color: {{ block.button_color }}"
                    href="{{ block.button_link }}"
                >
                    <span>
                        {{ block.button_text }}
                        {% if block.show_short_product_name and block.product.metafields.custom.short_name %}
                            {{ block.product.metafields.custom.short_name }}
                        {% endif %}
                    </span>
                </a>
            </div>
        {% endunless %}
    </div>
</div>

<script>
    console.log({{ block.product.variants | json }})
</script>